*
{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: Netflix Sans,Helvetica Neue,Segoe UI,Roboto,Ubuntu,sans-serif;
}
body
{
    background-color: #000;
   
}
#home
{
    background-image: linear-gradient(to top,rgba(0, 0, 0, 0.8)0,rgba(0,0,0,0.4), rgba(0, 0, 0, 0.8) 100%),url(images/header-image.png);
    width:100%;
    height:100vh;
    background-position:center;
    background-size:cover;
    background-repeat: no-repeat;
 
}
header
{
    width:100%;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding-top:1rem;
  
}
hr
{
    background-color:grey;
    height:10px;
    max-width:100%;
    margin-top:2rem;
}
header ul
{
    padding-right:60px;
    list-style:none;
}
header ul li .language-select select
{
    width:130px;
    height:35px;
    background:transparent;
    border-radius:5px;
    appearance: none;
    --webkit-appearnce:none;
    --moz-appearance:none;
    cursor: pointer;
    border:1px solid rgb(151, 147, 147);
    outline:0;
    box-shadow:none;
    background-image:url('<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="default-ltr-cache-4z3qvp e1svuwfo1" data-name="Languages" aria-hidden="true"><path fill-rule="evenodd" clip-rule="evenodd" d="M10.7668 5.33333L10.5038 5.99715L9.33974 8.9355L8.76866 10.377L7.33333 14H9.10751L9.83505 12.0326H13.4217L14.162 14H16L12.5665 5.33333H10.8278H10.7668ZM10.6186 9.93479L10.3839 10.5632H11.1036H12.8856L11.6348 7.2136L10.6186 9.93479ZM9.52722 4.84224C9.55393 4.77481 9.58574 4.71045 9.62211 4.64954H6.41909V2H4.926V4.64954H0.540802V5.99715H4.31466C3.35062 7.79015 1.75173 9.51463 0 10.4283C0.329184 10.7138 0.811203 11.2391 1.04633 11.5931C2.55118 10.6795 3.90318 9.22912 4.926 7.57316V12.6667H6.41909V7.51606C6.81951 8.15256 7.26748 8.76169 7.7521 9.32292L8.31996 7.88955C7.80191 7.29052 7.34631 6.64699 6.9834 5.99715H9.06968L9.52722 4.84224Z" fill="currentColor"></path></svg>') no-repeat right center;
    padding:2px;
   background-size:20px;
   padding-left:50px;
   padding-bottom:-20px;
    color:white;

    
    
}
.language-select{
    position: relative;
    display: inline-block;
}
.language-select svg
{
    position: absolute;
    top:50%;
    left:10px;
    transform: translateY(-50%);
}
header ul li
{
    display: inline-block;
    padding:0px 20px;
    margin-top:4%;
}
header ul li select svg
{
    color: white!important;
}
.logo
{
    width:210px;
    padding-left:60px;
    cursor: pointer;
}

button
{
     background-color:red;
     outline:0;
     border:0;
     box-shadow:none;
     cursor:pointer;
     text-align:center;
     display: inline-block;
     padding:4px;
     width:75px;
     color:white;
     border-radius:5px;

}
.inputbox
{
    display:flex;
    align-items:center;
    justify-content:center
}
#home .content
{
    text-align: center;
    overflow: hidden;
    margin:0;
    position:relative;
    top:30%;
   
 
    
}
.content h1
{
    color:white;
    font-size:3rem;
    font-weight:800;
    
}
.content p
{
    color:white;
}
.inputbox button
{
   width:200px;
   padding:15px;
   margin:0.5rem;
}

.inputbox input
{
    padding:15px;
    width:370px;
    border-color: rgba(128,128,128,0.7);
    outline:0;
    background: rgba(22,22,22,0.7);
    border-radius:3px;

}
.inputbox input::placeholder
{
    color: rgba(255,255,255,0.7);
}
#feauture
{
    background-color:#000;
    height: max-content;
}
#feauture .content
{


width:100%;
padding-top:20%;


}
#feauture .content h1
{
    padding-right:80px;
    font-weight:1000;
    font-size:3rem;
}

.show h1

{
 color: white;
 font-weight:1000; 
 font-size:3rem;
}
.show h4
{
    color: white;
}
#feauture .inputbox
{
    display: flex;
    align-items: center;
    justify-content:center;
}
#faq
{
    width:100%;
    margin-top:3rem;
    background-color:#000;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#another
{
    margin-bottom:10%;
}
#faq h1
{
    color:white;
}
.accordion
{
--bs-accordion-btn-bg:rgb(45,45,45);
--bs-accordion-btn-color:rgb(255,255,255);
--bs-accordion-active-bg:rgb(45,45,45);
--bs-accordion-active-color:white;
--bs-accordion-btn-focus-box-shadow:none;
--bs-accordion-bg:rgb(45,45,45);
--bs-accordion-color:white;
--bs-accordion-border-color:black;
--bs-accordion-border-width:1rem ;
--bs-accordion-btn-padding-y:3%;
--bs-accordion-body-border-color:black;

}
.accordion-button:not(.collapsed){

    box-shadow:none;
}
.accordion-button::after {
    background-image:url('images/icons8-add-24.png') !important;
    transform: rotate(0deg) !important;
}

.accordion-button:not(.collapsed)::after {
    background-image:url('images/icons8-close-30.png') !important;
    transform: rotate(0deg) !important;
}

.accordion-body 
{
      border:3px solid black;
}
.accordion-button {
    transition: background-color 0.3s ease-in-out;
}
.accordion-button:hover
{
    background-color:rgb(90, 88, 88);
}
  
  
  
.forgot a
{
    margin-left:1rem;

}


footer .insta img
{
    width:80px;
}
footer
{
    margin-top:5rem;
    background-color: #000;
}
footer a
{
    color: rgba(255,255,255,0.7);
    font-size:0.8rem;
    

}
footer ul 
{
    list-style:none;
}
footer ul li
{
  padding-bottom:1rem;
}
footer ul li select
{
    
    background:transparent;
    border-radius:5px;
    cursor: pointer;
    border:3px solid white;
    outline:0;
    box-shadow:none;
    padding:4px;
    width:80px;
    color:white;
}
 @media screen and (max-width:768px){

   #home .content
   {
    position: relative;
    top:10%;
   }
   #home .content h1
   {
    font-size:1.7rem;
   }
    #home
    {
        height:50vh!important;
    }
   
  
    .inputbox 
    {
        display: flex;
        flex-direction: column;

    }
    .inputbox input{
    width:300px!important;
    }
    .logo
    {
       margin:0;
       padding:0;
       width:100px;
    }
    header ul
    {
        
        padding-right:3px;
    }
    header ul li
    {
        padding:0px 5px;
    }
    header ul li .language-select select
    {
       width:100px;
       height:33px;
       margin:0;
       padding-left:30px;
       display: flex;
       align-items: center;
       justify-content: center;
    }
    #feauture{
        margin-top: 2rem !important;
    }
    #feauture .content
    {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left:5%;
        padding-top:0;
        padding-right:5%;
        margin:0;
        
    }
    #feauture .content h1
    {
        width:100%;
    }
  


#back
{
    display: flex;
    flex-direction: column;
}
} 
footer .language-select select
{
    width:140px;
    padding-left:50px;
}

@media screen and (max-width:1024px){

    #home 
    {
        height:80vh;
    }
    #feauture .content
    {
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-left:10%;
        padding-top:0;
        padding-right:10%;
        margin:0;
        
        

        
    }
    #feauture .container
    {
        padding:0;
    }
    #feauture .content p
    {
        font-size:1.2rem;
        width:150%;
        text-align: center;
        padding:0px;
        overflow: hidden;
    }
    #feauture .content h1
    {
        padding:0px;
        width:100%;
        text-align: center;
        font-size:1.9rem;
    }
    #feauture img
    {
        width:100%!important;
    }
    #home .content h1
    {
        font-size:2rem;
    }
}
@media  screen and (max-width:568px) {
    #home
    {
        height:50vh;
    }
    
}
@media screen and (max-width:360px){
    #home
    {
        height:60vh!important;
    }
}
@media screen and (max-width:375px){
    #home 
    {
        height:80vh!important;
    }
    
}

/* --- FIX OVERFLOW IN FEATURE TEXT --- */
@media screen and (max-width:1024px){
    #feauture .content p {
        width:100% !important;
    }
}
